// $backgroundColor: #ffffff;
// $bodyColor: #000000;
// $bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

// body {
//   background: $backgroundColor;
//   color: $bodyColor;
//   font-family: $bodyFont;
//   width: 900px;
//   margin: auto !important;
// }
// Import all components
@import "components/variables";
@import "components/general";
@import "components/code";
@import "components/iframe";
@import "components/math";
@import "components/anchorjs";
@import "components/images";
@import "components/nav";
@import "components/citation";