.ref{
    position: relative;
    vertical-align: baseline;
    .refnum{
        position: relative;
        left: 2px;
        bottom: 1ex;
        // font-family: Verdana, sans-serif;
        color: $citation_colour;
        font-size: 0.85em;
        font-weight: bold;
        text-decoration: underline;
        cursor: pointer;
    }
    .refbody{
        // font-family: Verdana, sans-serif;
        font-size: .85em;
        line-height: 1.1;
        display: block;
        min-width: 20em;
        position: absolute;
        left: 25px;
        bottom: 5px;
        border: 1px solid;
        padding: 5px;
        background-color: #fff;
        word-wrap: break-word;
        z-index: 9999;
        overflow: auto;
        display: none;
        &.active{
            display: block;
        }
    }
}

.citation_footer_wrapper{
    display: none;
    &.active{
        display: block;
    }
}