// YouTube and Panopto Plugin
.video-wrapper {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
    }
  }
  
// Desmos 

.desmos-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 50%;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
}

// width="500px" height="500px" style="border: 1px solid #ccc" frameborder=0